.footer__column-link {
  list-style-type: none;
  margin-bottom: 10px;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  opacity: 1;
  /* outline: 1px dashed blue; */
}

.footer__column-link:hover {
  opacity: 0.6;
  transition: opacity 2s;
}
