.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  opacity: 1;
  /* outline: 1px dashed red; */
}

.footer__social-icon:hover {
  opacity: 0.6;
  transition: opacity 2s linear;
}
